@import 'variables.module';

.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
  margin: auto;

  @media (min-width: $breakpoint-desktop-large) {
    max-width: $max-width;
  }
}
