@import 'variables.module';

.root {
  padding-block: 1rem;
  box-shadow: 0 1px 3px 0 var(--shadow-color),
    0 1px 2px -1px var(--shadow-color);
  background-color: var(--element-background-hsl);
  position: absolute;
  width: 100%;
  // top: 0;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;
  max-width: $max-width;
  margin: auto;

  @media (min-width: $breakpoint-desktop) {
    padding-inline: 0;
  }
}

.title {
  font-size: large;
  font-weight: 900;

  @media (min-width: $breakpoint-mobile) {
    font-size: x-large;
  }
}

.switcherContainer {
  display: flex;
  flex-direction: row;
  align-items: center;

  &:hover {
    cursor: pointer;
  }
}

.switcherIcon {
  position: relative;
  height: 1rem;
  width: 1rem;
  margin-right: 0.3rem;
}

.switcherText {
  font-size: small;
  font-weight: bold;
}
