@import 'variables.module';

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-block: 1rem;
  padding-inline: 0.5rem;
  box-shadow: 0 1px 3px 0 $light-shadow, 0 1px 2px -1px $light-shadow;
  max-width: $max-width;
  margin: auto;

  @media (min-width: $breakpoint-desktop) {
    padding-inline: 2rem;
  }
}

.title {
  font-size: large;
  font-weight: 900;

  @media (min-width: $breakpoint-mobile) {
    font-size: x-large;
  }
}
