@import 'variables.module';

.root {
  padding-block: 1rem;
  box-shadow: 0 1px 3px 0 var(--shadow-color),
    0 1px 2px -1px var(--shadow-color);
  background-color: var(--navbar-background-hsl);
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-inline: 0.5rem;
  max-width: $max-width;
  margin: auto;

  @media (min-width: $breakpoint-desktop) {
    padding-inline: 0;
  }
}

.title {
  font-size: large;
  font-weight: 900;

  @media (min-width: $breakpoint-mobile) {
    font-size: x-large;
  }
}
