$white: hsl(0, 0%, 100%); // Dark mode text & Light mode elements

/* dark mode colors */
$dark-blue: hsl(209, 23%, 22%); // Dark mode elements
$very-dark-blue: hsl(207, 26%, 17%); // Dark mode text
$dark-shadow: rgba(0 0 0 / 0.05); // Dark mode shadow

/* light mode colors */
$very-dark-blue-light: hsl(200, 15%, 8%); // Light mode text
$dark-gray: hsl(0, 0%, 52%); // Light mode input
$very-light-gray: hsl(0, 0%, 98%); // Light mode background
$light-shadow: rgba(0 0 0 / 0.05); // Light mode shadow

/* Breakpoints */
$breakpoint-mobile: 564px; // Mobile screen
$breakpoint-tablet: 760px; // Tablet screen
$breakpoint-desktop: 1024px; // Desktop screen
$breakpoint-desktop-large: 1280px; // Desktop large screen

$max-width: 1024px;
